
@media (max-width: 576px) {
    .boxes {
        display: block;
    }
    .boxes .box {
        margin: 0;
        margin-bottom: 20px;
    }
}
@media (max-width: 768px) {
    #left-sidebar{
        display: none;
    }
    #left-sidebar + #center-content > .expand-left::before{
        content: "\f105";
        font-family: FontAwesome;
        position: absolute;
        top: 20px;
        left: 0;
        -webkit-border-radius: 0px 4px 4px 0px;
        -moz-border-radius: 0px 4px 4px 0px;
        border-radius: 0px 4px 4px 0px;
        cursor: pointer;
        display: block;
        width: 24px;
        height: 23px;
        line-height: 23px;
        background-color: var(--primary-color-dark);
        color: var(--white);
        font-weight: 700;
        text-align: center;
    }

    #left-sidebar.display-block + #center-content > .expand-left::before {
        content: "\f104";
        font-family: FontAwesome;
        position: absolute;
        top: 20px;
        left: -24px;
        -webkit-border-radius: 4px 0px 0px 4px;
        -moz-border-radius: 4px 0px 0px 4px;
        border-radius: 4px 0px 0px 4px;
        cursor: pointer;
        display: block;
        width: 24px;
        height: 23px;
        line-height: 23px;
        background-color: var(--primary-color-dark);
        color: var(--white);
        font-weight: 700;
        text-align: center;
    }
}
@media (max-width: 992px) {
    #right-sidebar {
        display: none;
    }
}